{% extends 'base.html.twig' %}
{% block mainContainer %}container{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="col">
            <div class="row">
                <div class="col mb-4">
                    <a class="btn btn-primary font-weight-light" href="{{ path('adminAddEvent') }}">
                        <i class="fa fa-plus mr-3"></i>
                        Ajouter un évènement
                    </a>
                </div>
            </div>
            <p class="text-white font-italic">Liste des évènements</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Lien Facebook</th>
                    <th scope="col">Nombre de questionnaire sur l'évènement</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for event in events %}
                    <tr>
                        <th scope="row">{{ event.name }}</th>
                        <td>{{ event.date.format('d/m/Y') }}</td>
                        <td>{{ event.facebookId }}</td>
                        <td>{{ event.surveys|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if events is empty %}

                <div class="alert alert-info">
                    <i class="fa fa-info mr-2"></i>
                    Aucun évènement n'a été renseigné.

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
