{% extends 'base.html.twig' %}
{% block mainContainer %}container{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col">
            <div class="row">
                <div class="col mb-4">
                    <a class="btn btn-primary font-weight-light" href="{{ path('adminAddQuestion') }}">
                        <i class="fa fa-plus mr-3"></i>
                        Ajouter une question
                    </a>
                </div>
            </div>
            <p class="text-white font-italic">Liste des questions</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Question</th>
                    <th scope="col">Rubrique</th>
                    <th scope="col">Type</th>
                    <th scope="col">Nombre de réponses</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr class="font-weight-light">
                        <th>{{ loop.index }}</th>
                        <th>{{ question.value }}</th>
                        <td>{{ question.rubric }}</td>
                        <td>{{ question.type }}</td>
                        <td>{{ question.responses|length }}</td>
                        <td>
                            <a class="btn btn-danger" href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a class="btn btn-primary" href="#">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if questions is empty %}
                <div class="alert alert-info">
                    <i class="fa fa-info mr-2"></i>
                    Aucune question n'a été renseignée.

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
